/* ----------Переменные---------- */

:root {
    --main-color: #2196F3;
    --text-color: #212121;
    --grey-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: var(--text-color);
    width: 1600px;
    line-height: 1.5;
}

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

/* -------------Стилизация Header------------- */

.header {
    background: #FFFFFF;
}

/* --Стилизация слова WebStudio-- */

.studio-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: #000000;
}

.web {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
     letter-spacing: 0.03em;
    color: var(--main-color);
}

/* --Стилизация меню навигации-- */

.list-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.list-studio:hover,
.list-studio:focus {
    color: var(--main-color);
}

.list-portfolio:hover,
.list-portfolio:focus {
    color: var(--main-color);
}

.list-contacts:hover,
.list-contacts:focus {
    color: var(--main-color);
}

.current { 
    color: #2196F3; 
}

/* --Стилизация контактов хедера-- */

.header-mail {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.header-tel {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
   color: var(--main-color);
}

/* -------------Стилизация Main------------- */

/* --Стилизация блока заказа услуг-- */

.order-service {
    background: #2F303A;
}

.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.order-button:hover,
.order-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;;
}

/* --Стилизация блока особеностей-- */

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

.feature-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--grey-color);  
}

/* --Стилизация блока о работе и команде-- */

.photo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.member-role {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

/* -------------Стилизация Footer------------- */

.footer {
    background: #2F303A;
}

.footer-studio-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.footer-adress {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress:visited {
    color: rgba(255, 255, 255, 0.6);
}

/* ----------Стилизация портфолио---------- */

/* -- Фильтры -- */



.filter-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: #F5F4FA;
    border-radius: 4px;
}

.filter-btn:active {
    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.portfolio-item {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.active {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}